@import '../../styles.scss';
@import '../utilities/styles/variables.scss';
@import '../utilities/styles/utilities.scss';

:host {
  @include flex-layout(row, space-between, center, 0);
  transition: $transition;
  gap: 0;
  padding: 15px 150px;
  font-size: 1.1rem;
  backdrop-filter: blur(7px);
  border-bottom: 1px solid $faded-black;
  box-shadow: 0px 7px 30px $faded-black;
  
  @media (max-width: 900px) {
    font-size: 1rem;
    @include flex-layout(column, center, 0.75);
    padding: 1.5rem 0.1rem;
  }
}

#logo {
  @include flex-layout(center, center, 0.75rem);
  width: 4.4rem;
  height: 4.4rem;
  background-color: white;
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px $faded-black;

  img {
    width: 140%;
    height: 100%;
    user-select: none;
  }
}

ul {
  @include flex-layout(row, center, center, 3.2rem);
  transition: $transition;
  list-style: none;
  padding: 0;
  margin: 0;

  @media screen and (max-width: 530px) {
    margin-top: 1.5rem;
    flex-direction: column;
    gap: 2rem;
    
  }
}

a {
  color: #2f2f2f;
  text-decoration: none;
  
  &:hover {
    color: $blue;
  }
  
  &.link-active {
    color: $blue;
  }
}