@import '../../utilities/styles/variables.scss';

:host {
    display: block;
    span {
        text-decoration-thickness: 2px;
    }
}

p span {
    display: inline-flex;
    mat-icon {
        margin-left: 3px;
    }
}

mat-form-field {
    margin-top: 30px;
    width: 100%;
}

.status p:first-of-type {
    animation: pulse 1.5s infinite;
    margin: 0 0 .5rem 0;
    font-size: 1.1rem;
    font-weight: 500;
}

.status-online span:first-of-type {
    color: $green;
    text-decoration: underline;
}

.status-offline span:first-of-type {
    color: $red;
    text-decoration: dotted underline;
}

.status-unknown span:first-of-type {
    color: rgb(255, 170, 0);
    text-decoration: dashed underline;
}

p:last-of-type {
    margin: 0;
    color: #696969;
}

@keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
}