//* INPUT - background =====================================
.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

//* OPTION - single option background ======================
.mat-mdc-option,
.mdc-list-item {
  background-color: transparent !important;
  transition: all .1s linear;
  &:hover {
    background-color: rgba(0, 0, 0, 0.09) !important;
  }
}

//* OPTION - options panel background ======================
#mat-select-0-panel {
  backdrop-filter: blur(9px) !important;
  background-color: rgba(255, 255, 255, 0.4) !important;
}

//* OPTION - active single option (optional)
// .mat-mdc-option-active {
//   background-color: rgb(238, 238, 238) !important;
// }
  
//* SNACKBAR ===============================================
.mat-mdc-snackbar-surface {
  margin-bottom: 15px;
  color: black !important;
  backdrop-filter: blur(10px) !important;
  background-color: transparent !important;
  
  button {
    color: rgb(0, 92, 187) !important;
  }
}

//* BADGE ==================================================
.mat-badge-content {
  z-index: 100 !important;
}

//* CHIPS ==================================================
mat-chip-option {
  box-shadow: 0 1px 2px rgb(149, 149, 149);
}