@import '../../../utilities/styles/variables.scss';

form {
    display: flex;
    flex-direction: column;
}

button {
    margin-bottom: 30px;
}

small {
    color: $font-red;
    margin-bottom: 20px;
}

section {

    &.form-close-test {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .form-close-icon,
    .form-test-icon {
        cursor: pointer;
        user-select: none;
    }

    .form-close-icon {
        &:hover {
            color: $font-red;
        }
    }

    .form-test-icon {
        font-size: 25px;
        cursor: pointer;
        &:hover {
            color: $font-blue;
        }
    }
    
}