@import '../../../utilities/styles/variables.scss';
@import '../../../utilities/styles/utilities.scss';

form {
    @include flex-layout(column, center, default);
}

button {
    margin-bottom: 30px;
}

small {
    color: $red;
    margin-bottom: 20px;
}

section {

    &.form-close-test {
        @include flex-layout(row, space-between, center);
    }
    
    .form-close-icon,
    .form-test-icon {
        cursor: pointer;
        user-select: none;
    }

    .form-close-icon {
        &:hover {
            color: $red;
        }
    }

    .form-test-icon {
        font-size: 25px;
        cursor: pointer;
        &:hover {
            color: $blue;
        }
    }
    
}