@import '../../utilities/styles/variables.scss';
@import '../../utilities/styles/utilities.scss';

:host {
    @include flex-layout(column, center, default, 1.5rem);

    h2 {
        margin: 0;
        font-size: 1.1rem;
        color: #38343c;
    }
}

section {

    &.chips {
        @include flex-layout(row, space-around, default, 1.5rem);
    }

    &.delete-or-move {
        @include flex-layout(row, space-between, default);
    }
}

//* SINGLE TICKET STYLING ==========================================
.dot {
    font-family: monospace;
    color: gray;
    margin: 0 5px 0 0;
}

mat-panel-title {
    color: rgb(82, 82, 82);
}

.id-text {
    color: grey;
    font-size: 13px;
    font-style: italic;
    margin: 0 0 0 10px;
    
}

.text-red {
    font-size: 17px;
    color: $red;
}

.text-mark-open,
.text-red {
    font-size: 17px;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 2px;
    }
}

.text-red,
.text-ticket-closed,
.text-mark-open {
    display: flex;
    font-size: 14px;
}

.text-ticket-closed {
    color: rgb(0, 92, 187);
    cursor: default;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}


p mat-icon {
    margin-right: 7px;
}

.ticket-request-text {
    font-style: italic;
}