@use '../../utilities/material-styles.scss';

$font-red: rgb(224, 64, 64);
$font-blue: rgb(0, 92, 187);
$font-green: rgb(64, 105, 68);

:host {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    h2 {
        margin: 0;
        font-size: 1.1rem;
        color: #38343c;
    }
}

section {

    &.chips {
        display: flex;
        justify-content: space-around;
    }

    &.delete-or-move {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

//* SINGLE TICKET STYLING ==========================================
.dot {
    font-family: monospace;
    color: gray;
    margin: 0 5px 0 0;
}

mat-panel-title {
    color: rgb(82, 82, 82);
}

.id-text {
    color: grey;
    font-size: 13px;
    font-style: italic;
    margin: 0 0 0 10px;
    
}

.text-red {
    font-size: 17px;
    color: $font-red;
}

.text-mark-open,
.text-red {
    font-size: 17px;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 2px;
    }
}

.text-red,
.text-ticket-closed,
.text-mark-open {
    display: flex;
    font-size: 14px;
}

.text-ticket-closed {
    color: rgb(0, 92, 187);
    cursor: default;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}


// p mat-icon {
//     margin-right: 7px;
// }

.ticket-request-text {
    font-style: italic;
}


//* ================================================================


