<section class="chips">
    <mat-chip-listbox aria-label="Ticket status options" multiple="false">
        <mat-chip-option [matBadge]="selectedFilter() === 'open' ? (tickets().length === 0 ? '' : tickets().length) : ''" matBadgeOverlap="true" (click)="onFilter('open')">Open</mat-chip-option>
        <mat-chip-option [matBadge]="selectedFilter() === 'closed' ? (tickets().length === 0 ? '' : tickets().length) : ''" matBadgeOverlap="true" (click)="onFilter('closed')">Closed</mat-chip-option>
        <mat-chip-option [matBadge]="selectedFilter() === 'all' ? (tickets().length === 0 ? '' : tickets().length) : ''" matBadgeOverlap="true" (click)="onFilter('all')" selected>Show all</mat-chip-option>
    </mat-chip-listbox>
</section>
<mat-accordion>
    @for (ticket of tickets(); track $index) {
        <mat-expansion-panel #panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ $index + 1 }}
                    <span class="dot">.</span>
                    <span [style.color]=" ticket.status === 'closed' ? '#005cbb' : 'inherit'">{{ ticket.title }}</span>
                    <span class="id-text">&mdash; id: #{{ ticket.id }}</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="ticket-request-text">"{{ ticket.request }}"</p>
            @if (ticket.status === 'open') {
                <p (click)="markTicketClosed( ticket.id )" class="text-red"><mat-icon fontIcon="trending_flat"></mat-icon>Mark as closed</p>
            }
            @else {
                <p class="text-ticket-closed"><mat-icon fontIcon="check"></mat-icon>This ticket is closed</p>

                <section class="delete-or-move">
                    <p (click)="deleteTicket( ticket.id )" class="text-red"><mat-icon fontIcon="close_small" />delete</p>
                    <p (click)="markAsOpen( ticket.id )" class="text-mark-open"><mat-icon fontIcon="restart_alt" />mark as open</p>
                </section>
            }
        </mat-expansion-panel>
    } 
    @empty { 
        <p class="text-ticket-closed">No
            {{ selectedFilter() === 'open' ? 'open' : selectedFilter() === 'closed' ? 'closed' : '' }}
            tickets available.
        </p>
    }
</mat-accordion>
@if (formVisible()) {
    <app-new-ticket (closeForm)="onAddTicketOrCloseForm()" />
}
@else {
    <button mat-raised-button (click)="onAddTicketOrCloseForm()"><mat-icon fontIcon="add" />Add ticket</button>
}